<p>予約削除を希望している人のリスト</p>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>住所</th>
      <th>日時</th>
      <th>タイトル</th>
      <th>要望</th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
</table>