<p>予約削除を希望している人のリスト</p>

<table>
    <tbody>
        <div>
            <tr>
                <td>会員ID</td>
                <td></td>
            </tr>

        </div>

        <div>
            <tr>
                <td>氏名</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>住所</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>電話番号</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>メールアドレス</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>アポイント日時</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>タイトル</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>要望</td>
                <td></td>
            </tr>
        </div>
    </tbody>
</table>

を削除しますがよろしいですか