<h2>管理者予約詳細</h2>
<h3>〇〇さんの予約詳細</h3>

<table>
    <tbody>
        <div>
            <tr>
                <td>会員ID</td>
                <td></td>
            </tr>

        </div>

        <div>
            <tr>
                <td>氏名</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>住所</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>電話番号</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>メールアドレス</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>アポイント日時</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>タイトル</td>
                <td></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>要望</td>
                <td></td>
            </tr>
        </div>
    </tbody>
</table>

<%= link_to "問い合わせ", admins_contacts_path %>

<%= link_to "一覧へ", admins_reservations_path %>