<h2>お問い合わせ</h2>

<p>質問や要望などお伝えしておきたいことがあればご記入ください。</p>

<%= form_with model: @contact, url:reservation_contacts_path, local: true do |f| %>

<%= f.text_area :question, size:"65x20" %>

<%= f.submit "送信", class: 'btn btn-primary' %>

<% end %>

<%= link_to "戻る", reservation_path(params[:reservation_id]), class: 'btn btn-primary' %>