<h2>お問い合わせ</h2>

<p>質問や要望などお伝えしておきたいことがあればご記入ください。</p>

<%= form_with model: @contact, url:contacts_path, local: true do |f| %>

<%= f.text_area :contact, size:"65x20" %>

<%= f.submit "送信" %>

<% end %>

<%= link_to "戻る", reservations_path %>