<h3>SCHEDULERはお客様に予約を簡単にしていただくためのサイトです。</h3>
<h3>お客様から登録いただいた情報やお問い合わせは直接担当者が確認させていただきます。</h3>
<h3>①はじめに会員登録をしていただきます。</h3>
  <%= image_tag 'screen.png', :size =>'1000x500' %>
<h3>②会員登録が完了した後、右上にある新規予約ボタンを押して新規予約フォーマットに遷移し順序に沿って登録して行きます。</h3>