<div class="keyvisual">
    <div class="site-name">
    <p>SCHEDULER</p>
    </div>
</div>

<div class="container">
    <P>※ログインが必要になります。</P>
    <p>このSCHEDULERというサイトはお客様から担当の営業員に対して</p>
    <p>日時を選んでいただくだけで簡単にアポイントが取れるサイトです。</p>
    
    <%= link_to "About", about_path, class: 'btn btn-success' %>
</div>

