/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

main{
 max-width:auto;
 min-width:500px;
}

.keyvisual{
 background:image-url("images.jpeg") center bottom no-repeat;
 background-position:center;
 background-size:cover;
 height: 600px;
 width: 100%;
 position: relative;
 text-align: center;
}
.keyvisual:before{
 background-color: rgba(0,0,0,0.4);
 content: ' ';
 position:absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}
.site-name{
 position: absolute;
 top: 40%;
 width: 100%;
 text-align: center;
 font-size:70px;
 color:#ffffff;
}