/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

main{
 margin:10px;
}


nav{
 border-bottom:8px solid#34589e;
 background:#2a6fbe;
}
nav ul.header_drop{
 list-style:none;
 display:flex;
 justify-content:flex-end;
 table-layout:fixed;
 margin:0;
 padding:10px 10px 0 10px;
}
nav ul.header_drop > li{
 box-sizing:border-box;
 position:relative;
 float:left;
}
nav li a{
 display:block;
 padding:10px 20px;
 text-align:center;
 font-size:18px;
 color:#ffffff;
}
nav li a:hover{
 background:#34589e;
 color:#ffffff;
}